* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  padding: 80px 0;
  min-height: 100vh;
}

.hero-section .left-section {
  background: url(../images/auto-mech.png) no-repeat;
  background-size: cover;
  height: 500px;
  width: 40%;
  position: relative;
}

.hero-section .right-section {
  width: 60%;
}

.hero-section h1 {
    font-size: 64px;
}

.btn-orange {
  padding: 16px 40px !important;
  background: #ff6433 !important;
  border-radius: 12px;
  color: #FFFFFF !important;
  font-weight: 600 !important;
}

.left-section .rating-img{
    position: absolute;
    right: -35px;
    bottom: 30px;
}
.left-section .service-img{
    position: absolute;
    left: -35px;
    top: 30px;
}

#quote-section {
    background: #E2E6E9;
    min-height: 100vh;
    padding: 100px 0;
}

@media (max-width: 426px) {
    .hero-section .left-section, .hero-section .right-section  {
        width: 100%;
    }

    .left-section .rating-img{
        right: 0px;
    }
    .left-section .service-img{
        left: 0px;
    }
}
